<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>meteo api</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
        }
    </style>
  </head>
  <body>

        <form>
            <h1>Rechercher un ville</h1>
            <p>Ou utiliser la géolocalisation</p>
            <input type="text" name="ville"></input>
            <button id="searchBtn">Search...</button>
            <div>Recherche auto par coordonnées:<input type="checkbox" name="searchByCoord"></input></div>
        </form>

    <div id="meteo">

    </div>

    <div id="position">

    </div>

    <script>

        //recup du form qui agit sur la recherche meteo
        let searchVille;
        let myHTML;
        var coords;

        let searchBtn=document.querySelector('#searchBtn')
        searchBtn.addEventListener('click',callApi)

        let searchByCoord=document.querySelector('[name="searchByCoord"')
        searchByCoord.addEventListener('change',searchByCoordMgt)

        //localisation
        navigator.geolocation.getCurrentPosition(showLatLng)
        function showLatLng(position){
            coords= position.coords //recup des data de geoloc
        }

        //gestion action sur la checkbox
        function searchByCoordMgt(){
            if(this.checked){
                document.querySelector('[name="ville"]').value=""
                document.querySelector('[name="ville"]').disabled=true
                document.querySelector('#searchBtn').disabled=true
                callApi()
            }else{
                document.querySelector('#meteo').innerHTML=""
                document.querySelector('[name="ville"]').disabled=false
                document.querySelector('#searchBtn').disabled=false
            }
        }

       //appal à l'API
      function callApi(e) {
            const key='1dd3c8021c34d1578422220b96a85c1a'
            let urlApi; //initialisation de la variable url API 
            (e)?e.preventDefault():false //si pas d'evenement capté, on ne fait rien
       
            searchVille=document.querySelector('[name="ville"]').value
            if(searchVille !== ""){
            urlApi =  `http://api.openweathermap.org/data/2.5/find?q=${searchVille}&units=metric&appid=${key}`;
            }else if(searchByCoord.checked == true){
            urlApi = `http://api.openweathermap.org/data/2.5/find?lat=${coords.latitude}&lon=${coords.longitude}&units=metric&appid=${key}`;  
            }
            
            if(urlApi !==""){
                fetch(urlApi)
                .then(function(responseJSON) {
                    //recup la réponse

                    //les résultats sont tous à l'intérieur de la varibale "responseJSON"
                    //je retourne la réponse à la fonction suivante en lui indiquant que c'est un format Json
                    return responseJSON.json();
                })
                .then(function(myJSON) {
                    if (myJSON.cod == "200") {
                    //recup des erreur if any et gestion plus fine
                    console.log(myJSON);

                    let meteoData = myJSON.list[0];

                    myHTML = `<h1> ${meteoData.name} </h1>`;
                    myHTML += `Température actuelle: ${meteoData.main.temp}`;
                    document.querySelector("#meteo").innerHTML = myHTML;
                    } else if (myJSON.cod == "401") {
                    console.log(myJSON.message);
                    }
                })
                .catch(function(error) {
                    //recup des erreur if any
                    console.log(error);
                });
            }else{
                console.log("Saisissez une ville ou géolocalisez vous")
            }
        }
      
    </script>
  </body>
</html>
